@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

h2 {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-menu-vertical {
  border: 0 !important;
}

.ant-menu-item a::before {
  position: relative !important;
}

.ant-menu {
  background-color: #0178ff !important;
  color: white !important;
}

.ant-menu-item a {
  color: white !important;
  font-weight: 600;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;
  color: #0178ff !important;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: auto;
}

.sidebar {
  background-color: #0178ff !important;
  width: 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  flex: 0 0 0px !important;
  position: absolute !important;
  z-index: 30 !important;
}

.open {
  width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
  position: fixed !important;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  /* overflow: auto; */
  z-index: 30 !important;
}

.ant-form-item-label {
  margin-bottom: 5px !important;
  color: #0178ff !important;
  font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  color: #0178ff;
  border: 2px solid #0178ff;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #0178ff;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    flex: 0 0 250px !important;
    position: fixed !important;
    top: 0;
    height: 100vh;
    left: 0;
    bottom: 0;
    overflow: auto;
  }
}
